input {
    height: 100%;
    width: 100%;
}

body {
    margin: 0; 
}

.container-fluid {
    margin: 0px;
    width: 100%;  
}

div.row {
    height: 100vh;
}

.left-column {
    background-color: #4D3434;
}

.user-image {
    background-color: white;
    border-radius: 50%;
    float: left;
    height: 35px;
    margin-left: 10px;
    margin-top: 20px; 
    width: 35px;
}

.welcome-message {
    color: white;
    font-size: 12px;
    margin-top: 28px;
    margin-right: 50px;
    text-align: center;
}

.button {
    align-items: center;
    background-color: #F7D985;
    border: none;
    border-radius: 15px;
    color: white;
    display: flex;
    height: 5vh;
    justify-content: center;
    margin-top: 70px;
    margin-left: 25px;
    min-width: 10vw;
    padding: 0;
    position: relative;
    width: 10vw;
}

.text-navigation {
    color: white;
    list-style-type: none;
    line-height: 40px;
    margin-top: 100px;
    text-decoration: none;
}

.middle-column {
    background-color: #FAF6F2;
}

.search-bar {
    border: none;
    border-radius: 15px;
    height: 3%;
    margin-top: 25px;
    opacity: 0.5;
    text-align: center;
    width: 90%;
}

.first-email {
    float: left;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 60px;
    text-align: left;
}

.timeoffirstemail {
    font-size: 12px;
    margin-right: 20px;
    margin-top: 60px;
    opacity: 0.8;
    text-align: right;
}

.descriptionoffirstemail {
    font-size: 12px;
    margin-left: 40px;
    opacity: 0.7;
}

.michael-email {
    background-color: white;
    box-shadow: 0px 2px 15px -2px #000000;
    height: 10vh;
    margin-bottom: 50px;
    position: relative;
}

.second-email{
    float: left;
    font-size: 12px;
    margin-left: 40px;
    text-align: left;
}

.timeofsecondemail{
    font-size: 12px;
    margin-right: 20px;
    margin-top: 60px;
    opacity: 0.8;
    text-align: right;
}

.descriptionofsecondemail{
    font-size: 12px;
    margin-left: 40px;
    opacity: 0.7;
}

.third-email{
    float: left;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 11px;
    text-align: left;
}

.timeofthirdemail{
    font-size: 12px;
    margin-right: 20px;
    margin-top: 60px;
    opacity: 0.8;
    text-align: right;
}

.descriptionofthirdemail {
    font-size: 12px;
    float: left;
    margin-left: 40px; 
    opacity: 0.7;
}

.to{
    font-size: 9px; 
    margin-left: 50px;
    margin-top: 10px;
    opacity: 0.7;
}

.from{
    font-size: 9px; 
    margin-left: 50px;
    opacity: 0.7;
}

.email-header{
    margin-left: 50px;
    margin-top: 20px;
}

.quotes{
    line-height: 25px;
    margin-left: 50px;
    margin-top: 20px;
}

.reply-box{
    height: 300px;
    margin-top: 100px;
    width: 85%;
}